vampire
vampire.zip
leo3.jar
eprover-ho
eprover/
vampire-ho.zip
vampire-ho
twee
twee-2.4.2-linux-amd64
nanoCoP-i20.tar.gz
nanoCoP-i20/
Prover9/
kissat/
kissat
gappa-1.4.2/
gappa-1.4.2.tar.gz
gappa/
aprove.jar
TPTP4X/
